.sidebar {
    height: 100%;
    width: var(--sidebar-width, 65px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 1px 0px 0px;

    background: var(--black-grey, #343e4d);
    box-shadow: var(--box-shadow, inset -1px 0px 0px)
        var(--sidebar-shadow, #1f252e);
    z-index: 1;
}

.sidebarItem,
.selectedSidebarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    aspect-ratio: 1 / 1;

    background: inherit;
    border: none;
    outline: none;
}

.itemImage {
    width: var(--sidebar-image-size, 32px);
    height: var(--sidebar-image-size, 32px);
    filter: invert(76%) sepia(12%) saturate(416%) hue-rotate(165deg)
        brightness(91%) contrast(93%);
}

.itemLabel {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;

    color: var(--sidebar-label-color, #a1b4c4);
}

.sidebarItem:hover .itemImage {
    filter: invert(88%) sepia(4%) saturate(136%) hue-rotate(170deg)
        brightness(110%) contrast(96%);
}

.sidebarItem:hover .itemLabel {
    color: var(--white2, #f2f5f8);
}

.sidebarItem:focus,
.selectedSidebarItem {
    box-shadow: inset 1px 0px 0px var(--blue, #3fa9f5);
}

.sidebarItem:focus .itemImage,
.selectedSidebarItem .itemImage {
    filter: invert(100%) sepia(3%) saturate(7165%) hue-rotate(84deg)
        brightness(111%) contrast(98%);
}

.sidebarItem:focus .itemLabel,
.selectedSidebarItem .itemLabel {
    color: var(--white1, #fcfdfd);
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: var(--mobile-sidebar-height, 9vh);

        flex-direction: row;
        align-items: flex-start;
        padding: 1px 0px 0px 0px;
        box-shadow: none;

        position: fixed;
        z-index: 1;
    }

    .sidebarItem,
    .selectedSidebarItem {
        flex: 1;
        height: 100%;
        width: auto;
    }

    .sidebarItem:focus,
    .selectedSidebarItem {
        box-shadow: inset 0px 3px 0px var(--blue, #3fa9f5);
    }
}

@media only screen and (max-width: 200px) {
    .itemImage {
        width: 20px;
        height: 20px;
    }
    .itemLabel {
        font-size: 8px;
        line-height: 10px;
    }
}
