.imageDrawer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    background: var(--white1, #fcfdfd);
    box-shadow: var(--box-shadow, inset -1px 0px 0px) var(--white-grey, #bfced9);

    width: var(--image-drawer-width, 30%);
    height: 100%;
}

.header {
    padding: 16px 16px 8px;
    background: var(--white2, #f2f5f8);

    width: 100%;
    box-shadow: var(--box-shadow, inset -1px 0px 0px) var(--white-grey, #bfced9);
    max-height: var(--image-drawer-header-height, 53px);
    max-width: 100%;
}

.header span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: var(--black-grey, #343e4d);
}

.search {
    padding: 8px 16px 16px;
    background: var(--white2, #f2f5f8);
    box-shadow: inset -1px -1px 0px var(--white-grey, #bfced9);
    width: 100%;
    max-height: var(--search-height, 64px);
    text-align: center;
}

.searchInput {
    background: var(--white1, #fcfdfd);
    border: 1px solid var(--white-grey, #bfced9);
    border-radius: 6px;
    padding: 8px;
    width: auto;
    height: var(--search-input-height, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.searchInput label {
    height: var(--search-icon-size, 24px);
    width: var(--search-icon-size, 24px);
    float: left;
}

.searchInput label img {
    filter: invert(60%) sepia(19%) saturate(399%) hue-rotate(168deg)
        brightness(89%) contrast(85%);
}

.searchInput input[type="text"] {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: var(--font-weight, 400);
    font-size: 12px;
    line-height: 15px;
    color: var(--grey, #7a8d9f);
    outline: none;
    border: none;
}

.searchInput input[type="text"]:focus + label img {
    filter: brightness(1);
    transform: scale(1.1);
}

.category {
    width: 100%;
    box-shadow: var(--box-shadow, inset -1px 0px 0px) var(--white-grey, #bfced9);
    overflow: auto;
    padding: 16px;
    gap: 16px;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(
        auto-fit,
        minmax(calc(var(--image-drawer-item-min-width, 165px) / 100 * 90), 1fr)
    ); /* 90% of 165px ~ 150px*/
    align-content: start;
}

.categoryItem,
.selectedImage {
    aspect-ratio: 165 / 120;
    min-width: var(--image-drawer-item-min-width, 165px);
    background-image: url("Landscape.svg");
    background-color: var(--grey-white, #cfdae2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    border-radius: 8px;
    border: none;
    outline: none;
}

.categoryItem:hover {
    opacity: 1;
}

.categoryItem:focus,
.selectedImage {
    border: 3px solid var(--blue, #3fa9f5);
    opacity: 1;
    transition: all ease 0.1s;
}

@media only screen and (max-width: 600px) {
    .imageDrawer {
        width: 100%;
        max-height: var(--mobile-image-drawer-max-height, 63%);
        box-shadow: var(--mobile-box-shadow, inset 0px 1px 0px)
            var(--white-grey, #bfced9);
        margin-bottom: var(--mobile-sidebar-height, 9vh);
    }

    .header {
        padding: 6px 16px 0px;
        box-shadow: var(--mobile-box-shadow, inset 0px 1px 0px)
            var(--white-grey, #bfced9);
    }

    .search {
        padding: 5px 16px 11px;
        box-shadow: inset 0px -1px 0px var(--white-grey, #bfced9);
    }

    .category {
        padding: 8px 16px;
        gap: 8px;
    }

    .categoryItem,
    .selectedImage {
        min-width: unset;
    }
}
