.placeholderContentArea {
    width: calc(
        100% - var(--image-drawer-width, 30%) - var(--sidebar-width, 65px)
    );
    max-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.placeholderImage {
    width: var(--placeholder-image-size, 128px);
    height: var(--placeholder-image-size, 128px);

    /* background-image: url("Landscape.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    outline: none;
    filter: invert(60%) sepia(13%) saturate(522%) hue-rotate(168deg)
        brightness(89%) contrast(91%);
}

.placeholderDescription {
    font-family: "Inter";
    font-style: normal;
    font-weight: var(--font-weight, 400);
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--grey, #7a8d9f);
}

.displayedContentArea {
    width: calc(
        100% - var(--image-drawer-width, 30%) - var(--sidebar-width, 65px)
    );
    max-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: var(--white1, #fcfdfd);
}

.displayedImage {
    width: 100%;
    height: calc(100% - var(--displayed-description-height, 51px));
    border: none;
    outline: none;
    object-fit: cover;
    cursor: pointer;

    background-color: var(--grey-white, #cfdae2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.displayedDescription {
    padding: 16px;
    height: var(--displayed-description-height, 51px);
    width: 100%;

    font-family: "Inter";
    font-style: normal;
    font-weight: var(--font-weight, 400);
    font-size: 16px;
    line-height: 19px;
    color: var(--white1, #fcfdfd);
    background: var(--black-grey, #343e4d);
}

@media only screen and (max-width: 600px) {
    .placeholderContentArea {
        width: 100%;
    }

    .displayedContentArea {
        width: 100%;
    }

    .displayedImage {
        height: 100%;
    }

    .displayedDescription {
        padding: 8px 16px;
        height: fit-content;
    }
}
