* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    transition: all ease 0.5s;

    /* hide scrollbar visibility in browsers */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none; /* Older versions of Firefox */
}

/* hide scrollbar visibility in browsers */
*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

:root {
    --white1: #fcfdfd;
    --sidebar-width: 65px;
    --black-grey: #343e4d;
    --box-shadow: inset -1px 0px 0px;
    --sidebar-shadow: #1f252e;
    --white-grey: #bfced9;
    --sidebar-image-size: 32px;
    --sidebar-label-color: #a1b4c4;
    --white2: #f2f5f8;
    --blue: #3fa9f5;
    --mobile-sidebar-height: 9vh;
    --image-drawer-width: 30%;
    --image-drawer-header-height: 53px;
    --search-icon-size: 24px;
    --search-height: 64px;
    --search-input-height: 40px;
    --font-weight: 400;
    --grey: #7a8d9f;
    --image-drawer-item-min-width: 165px;
    --grey-white: #cfdae2;
    --mobile-image-drawer-max-height: 63%;
    --mobile-box-shadow: inset 0px 1px 0px;
    --placeholder-image-size: 128px;
    --displayed-description-height: 51px;
    --animation-duration: 500ms;
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#app-container {
    height: 100%;
}

button {
    cursor: pointer;
}

/* animation for tablet, desktop device (width > 600px) */
.hidden {
    animation: slide-away var(--animation-duration, 500ms);
}

.show {
    animation: slide-back var(--animation-duration, 500ms);
}

.zoom-in {
    animation: slide-left var(--animation-duration, 500ms);
    width: 100% !important;
}

.zoom-out {
    animation: slide-right var(--animation-duration, 500ms);
    width: calc(
        100% - var(--image-drawer-width, 30%) - var(--sidebar-width, 65px)
    );
}

/* animation for mobile device (width <= 600px) */
.mobile-hidden {
    animation: mobile-slide-away var(--animation-duration, 500ms);
}

.mobile-show {
    animation: mobile-slide-back var(--animation-duration, 500ms);
}

.mobile-zoom-in {
    animation: mobile-slide-down var(--animation-duration, 500ms);
}

.mobile-zoom-in > div {
    transform: rotate(90deg);
    width: 100vh;
    height: 100vw;
}

.mobile-zoom-out {
    animation: mobile-slide-up var(--animation-duration, 500ms);
}

.mobile-zoom-out > div {
    transform: rotate(0deg);
    width: 100%;
    height: 100%;
}

@keyframes slide-away {
    from {
        display: flex;
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        display: none;
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes slide-back {
    from {
        display: none;
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        display: flex;
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0%);
        width: calc(
            100% - var(--image-drawer-width, 30%) - var(--sidebar-width, 65px)
        );
    }
    to {
        transform: translateX(-20%);
        width: 100%;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(0%);
        width: 100%;
    }
    to {
        transform: translateX(50%);
        width: calc(
            100% - var(--image-drawer-width, 30%) - var(--sidebar-width, 65px)
        );
    }
}

@keyframes mobile-slide-away {
    from {
        display: flex;
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        display: none;
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes mobile-slide-back {
    from {
        display: none;
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        display: flex;
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes mobile-slide-down {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes mobile-slide-up {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-70%);
    }
}
